// Montserrat fonts
@font-face {
  font-family: 'Montserrat Regular';

  src: url('@/assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat Bold';

  src: url('@/assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat Italic';

  src: url('@/assets/fonts/Montserrat/Montserrat-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat SemiBold';

  src: url('@/assets/fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat Extrabold';

  src: url('@/assets/fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat Medium';

  src: url('@/assets/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
}

// ProximaNova fonts
@font-face {
  font-family: 'ProximaNova Regular';

  src: url('@/assets/fonts/ProximaNova/ProximaNova-Regular.woff') format('woff'),
    url('@/assets/fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNova Italic';

  src: url('@/assets/fonts/ProximaNova/ProximaNova-Italic.woff') format('woff'),
    url('@/assets/fonts/ProximaNova/ProximaNova-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNova Semibold';

  src: url('@/assets/fonts/ProximaNova/ProximaNova-Semibold.woff') format('woff'),
    url('@/assets/fonts/ProximaNova/ProximaNova-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNova Bold';

  src: url('@/assets/fonts/ProximaNova/ProximaNova-Bold.woff') format('woff'),
    url('@/assets/fonts/ProximaNova/ProximaNova-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNova Extrabold';

  src: url('@/assets/fonts/ProximaNova/ProximaNova-Extrabld.woff') format('woff'),
    url('@/assets/fonts/ProximaNova/ProximaNova-Extrabld.ttf') format('truetype');
}
